.app {
  background: #121829;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
